extends _bootstrap
append scripts
    script(src="/socket.io/socket.io.js")
    script(src='/javascripts/lobby.js')
block content
    div.row
        div.col-xs-11
            h2 Games
        div.col-xs-1
            +btn-lg-primary("New Game")
    div.row
        div.col-xs-12
            table.table(class="table-hover" style="text-align:center;")
                thead
                    tr
                        th(style="text-align:center;") Name
                        th(style="text-align:center;") Points
                        th(style="text-align:center;") Status
                        th()

                tbody#gametable